name: EsLint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  eslint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: HansRoslinger
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v4
      - run: npm install
      - run: npx eslint "**/*.{js,jsx,ts,tsx}"
