name: golangci-lint

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Run golangci-lint in src/pkg
        working-directory: src/pkg
        run: golangci-lint run ./...

      - name: Run golangci-lint in src/Services
        working-directory: src/Services/golang-project-service
        run: golangci-lint run ./...

      - name: Run golangci-lint in src/Services
        working-directory: src/Services/golang-auth-service
        run: golangci-lint run ./...

