name: golangci-lint

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Run golangci-lint in src/pkg
        uses: golangci/golangci-lint-action@v4
        with:
          working-directory: src/pkg

      - name: Run golangci-lint in src/Services/golang-project-service
        uses: golangci/golangci-lint-action@v4
        with:
          working-directory: src/Services/golang-project-service

      - name: Run golangci-lint in src/Services/golang-auth-service
        uses: golangci/golangci-lint-action@v4
        with:
          working-directory: src/Services/golang-auth-service

