name: golangci-lint

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.58.1
          args: >
            run
            ./src/Services/...
            ./src/pkg/...